.homeBody{
	margin:0;
	padding:0;
	font-family:"arial",heletica,sans-serif;
	font-size:12px;
    background: #2980b9 url('https://i.pinimg.com/564x/c9/6d/5a/c96d5a33d2ecc85b484bf066206d34c8.jpg') repeat 0 0;
	-webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;
	animation: 10s linear 0s normal none infinite animate;
 
}
 
@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}


.headline {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 20px;
    border: none;
    font: normal 60px/1 "Monoton", Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgb(255,255,255) , 0 0 30px rgba(40,40,40,1) , 0 0 40px rgba(17,255,227,1) , 0 0 70px rgba(17,255,227,1) , 0 0 80px rgba(44,88,137,1) , 0 0 100px rgba(58,76,216,1) , 0 0 150px rgba(44,88,137,1) ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  }


.headline:hover {
    text-shadow: 0 0 5px rgb(255,255,255) , 0 0 10px rgb(255,255,255) , 0 0 15px rgba(90,90,90,1) , 0 0 20px rgba(17,255,227,1) , 0 0 35px rgba(17,255,227,1) , 0 0 40px rgba(44,88,137,1) , 0 0 50px rgba(58,76,216,1) , 0 0 75px rgba(58,76,216,1) ;
}

.headlineTwo{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding-left: 20px;
    border: none;
    font: normal 25px/1 "Monoton", Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgb(255,255,255) , 0 0 30px rgba(40,40,40,1) , 0 0 40px rgba(17,255,227,1) , 0 0 70px rgba(17,255,227,1) , 0 0 80px rgba(44,88,137,1) , 0 0 100px rgba(58,76,216,1) , 0 0 150px rgba(44,88,137,1) ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

.headlineThree{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding-left: 30px;
    padding-top: 5px;
    border: none;
    font: normal 22px/1 "Monoton", Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgb(255,255,255) , 0 0 30px rgba(40,40,40,1) , 0 0 40px rgba(17,255,227,1) , 0 0 70px rgba(17,255,227,1) , 0 0 80px rgba(44,88,137,1) , 0 0 100px rgba(58,76,216,1) , 0 0 150px rgba(44,88,137,1) ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;

}

.subheader {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 60px/normal "aguafina-script", Helvetica, sans-serif;
  color: rgba(255,0,0,1);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 0 15px 29px rgb(233, 224, 224) , 10px 20px 5px rgba(0,0,0,0.0470588) , -10px 20px 5px rgba(0,0,0,0.0470588) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  
}

.subheader:hover {
    text-shadow: 0 0 10px rgba(11, 116, 148, 0.815), 0 0 20px rgb(63, 160, 184), 0 0 30px rgb(39, 129, 156), 0 0 20px rgb(63, 160, 184), 0 0 20px rgb(63, 160, 184), 0 0 20px rgb(126, 204, 221), 0 0 100px #00ffff;
}

.subheaderTwo{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    font: normal 20px/normal "aguafina-script", Helvetica, sans-serif;
    color: rgba(41, 14, 14, 0.849);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    /* text-shadow: 0 15px 29px rgba(197, 190, 190, 0) , 10px 20px 5px rgba(0,0,0,0.0470588) , -10px 20px 5px rgba(0,0,0,0.0470588) ; */
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms; 
}
.subheaderThree{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    font: normal 25px/normal "aguafina-script", Helvetica, sans-serif;
    color: rgba(41, 14, 14, 0.849);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    /* text-shadow: 0 15px 29px rgba(197, 190, 190, 0) , 10px 20px 5px rgba(0,0,0,0.0470588) , -10px 20px 5px rgba(0,0,0,0.0470588) ; */
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms; 
}

.nowTitle{
    color:red;
    font: normal 35px/normal "Monoton", Helvetica, sans-serif; 
    text-decoration: underline;
}

.wrapper{
    float:left;
}

.tagger{
    text-align: center;
    font-weight: bold;
    color:white;
    font-size: 15px;

}

#mainScreen{
    background-color: rgb(236, 233, 233);
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 165px;
    padding-left: 80px;
    border: 1px solid rgb(214, 214, 214);
    opacity: 0.8;
    filter: alpha(opacity=80);
}

#suggested-friends{
    color:white;
    font-weight: bold;
    background-color: red;

}

#nowDiv{
    border: red 2px;
}









@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

.search {
    width: 100%;
    position: relative
}

.searchTerm {
    float: left;
    width: 100%;
    border: 3px solid #00B4CC;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #00B4CC;
}

.searchButton {
    position: absolute;
    right: -50px;
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}


/*Resize the wrap to see the search bar change!*/

.wrap {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#searchMovieImage {
    float: left;
    width: 250px;
    height: 250px;
}

.title {
    font-size: 25px;
    font-weight: bolder;
    color: red;
}


/* login scree */

@import url(http://fonts.googleapis.com/css?family=Raleway);
h2 {
    background-color: #FEFFED;
    padding: 30px 35px;
    margin: -10px -50px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

hr {
    margin: 10px -50px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-bottom: 40px;
}

div.container {
    width: 900px;
    height: 610px;
    margin: 35px auto;
    font-family: 'Raleway', sans-serif;
}

div.main {
    width: 300px;
    padding: 10px 50px 25px;
    border: 2px solid gray;
    border-radius: 10px;
    font-family: raleway;
    float: left;
    margin-top: 50px;
}

input[type=text],
input[type=password] {
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-bottom: 25px;
    margin-top: 5px;
    border: 2px solid #ccc;
    color: #4f4f4f;
    font-size: 16px;
    border-radius: 5px;
}

label {
    color: #464646;
    text-shadow: 0 1px 0 #fff;
    font-size: 14px;
    font-weight: bold;
}

center {
    font-size: 32px;
}

.note {
    color: red;
}

.valid {
    color: green;
}

.back {
    text-decoration: none;
    border: 1px solid rgb(0, 143, 255);
    background-color: rgb(0, 214, 255);
    padding: 3px 20px;
    border-radius: 2px;
    color: black;
}

input[type=button] {
    font-size: 16px;
    background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
    border: 1px solid #e5a900;
    color: #4E4D4B;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
    outline: none;
}

input[type=button]:hover {
    background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}

